{% extends "ineed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
<div class="content-section">
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        <fieldset class="form-row">
            <div class="form-group"><label class="exampleFormControlFile1">Write your concern or need here -</label>
            </div>

            <div class="form-group"><textarea class="form-control" rows="4" cols="80" name="content"></textarea></div>

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="myImage" name="myImage" onchange="previewFile()">
                <label class="custom-file-label" id="myImage">Choose file</label>
            </div>
            <div class="form-group"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label><img src="" height="50"></label>
                </div>
                <div class="form-group col-md-4">
                    <label></label>
                </div>
                <div class="form-group col-md-2 text-right">
                    <button class="btn btn-primary" name="main_form" type="'submit">Save</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
{% else %}
<div class="content-section">Please <a href="{% url 'login' %}">Login</a> to post</div>
{% endif %}
{% for post in posts %}
<div class='content-section'>
    <div class="font-weight-bold" style="font-size:20px;">{{ post.author }} says,</div>
    <div class="font-weight-normal">{{ post.content }}</div>
    <div class="text-muted" style="font-size: 12px;">Posted on {{ post.date_posted }}</div>
    {% if post.myImage.url != '' %}
        <div class="media"><img class="rounded-circle account-img" src={{post.myImage.url}}></div>
    {% endif %}
    <form method="POST" class="post-form" name="comment_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group"><textarea class="form-control" rows="2" cols="80" name="body"></textarea></div>
        <input type="hidden" name="comcomment" value={{post.pk}}>
        <button class="btn btn-primary" name="comment_form" type="submit">Add comment</button>
    </form>

    <!-- Comment with nested comments -->
    {% for comment in comments %}
        {% if post.pk == comment.comcomment_id %}
        <div class="comment" style="background-color: powderblue">
            <p class="info">{{ comment.comauthor }} | {{ comment.created }}</p>
            <p>{{ comment.body }}</p>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}
